<h2>Display product details using reactive forms</h2>
<form [formGroup]="productForm" (submit)="onSubmit()">
  <label for="name">Name</label>
  <input type="text" id="name" formControlName="name"><br>
  
  <label for="brand">Brand</label>
  <input type="text" id="brand" formControlName="brand"><br>
  
  <label for="price">Price</label>
  <input type="number" id="price" formControlName="price"><br>
    <label for="img">Image</label>

  <input type="file" id="img" (change)="onImageChange($event)"><br>
  
  <button id='submit' type="submit">Submit</button>
</form>

<p id="resultName"> {{ productForm.get('name').value }}</p>
<p id="resultPrice"> {{ productForm.get('price').value }}</p>
<p id="resultBrand">{{ productForm.get('brand').value }}</p>
