<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    
    <!--Fill your code here-->
    <h1 id="heading">Gadget Wall</h1>
    <div *ngFor="let p of arr">

      <div class="card">
        <p id="product-name">{{p.name}}</p>
        <img [src]="p.imageUrl" id="image">
        <p id="price">${{p.price}}</p>
        <button id="buy">Buy</button>
      </div>
        
    </div>
